.header {
  position: absolute;
  top: 0;
  left: 0;
   
  width: 100%;
  height: 12%;
  background-color: #32394A;

  display: flex; 
  align-items: center;
}

 .iconfont.icon-back {
   margin-left: 8%;
   color: aliceblue;
   font-size: 36px;
}

.header-name {
  margin-left: 10%;
  color: aliceblue;
  font-size: 30px;
}

.iconfont.icon-gouwuche1 {
  margin-left: 23%;
   color: aliceblue;
   font-size: 36px;
 }
 
 .banner {
   position: absolute;
   left: 0;
   right: 0;
   top: 12%;
   width: 100%;
   height: 30%;
 }
 .circle-one,
 .circle-two,
 .circle-three {
   position: absolute;
   top: 38%;
   left: 72%;
   width: 20px;
   height: 20px;
   border-radius: 20px;
   background-color: #35403F;
 }
 .circle-two {
   left: 80.5%;
   background-color:#364141;
 }
 .circle-three {
   left: 89%;
   background-color: #B6C0C3;
 }
 
 .row-one, .row-two {
   position: absolute;
   left: 0;
   top: 42%;
   width: 100%;
   height: 10%;
   display: flex;
   align-items: center;  /* 上下居中*/
   justify-content: space-evenly; /* 间距相等*/
  } 

 .row-two {
   top: 49%;
 }

 .tags-one, 
 .tags-two, 
 .tags-three,
 .tags-four,
 .tags-five,
 .tags-six {
   border: solid 1px #EEEEEE;
   width: 30%;
   height: 50%;
   border-radius: 70px;
   font-size: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .tags-two {
   background-color: #FF2D50;
 }
 
 .tags-one:hover,
 .tags-two:hover,
 .tags-three:hover,
 .tags-four:hover,
 .tags-five:hover,
 .tags-six:hover {
  background-color: red;
}
 
  